.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 1;

    .nav-menu {
        display: flex;
    
        li {
            padding: 0 1rem;
    
            a {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
    
    .hamburger {
        display: none;
    }
}


@media screen and (max-width: 1040px) {
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;

        li {
            padding: 1rem 0 !important;

            a {
                font-size: 2rem;
            }
        }
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: initial !important;
    }
}